@model List<MyTask>

@{
    ViewBag.Title = "Tasks";
    Layout = "_Layout";
}

<h2>Список созданных задач</h2>

<div class="row table_section">
    @if (@Model.Count() == 0)
    {
        <p>Пока что, задач еще нет!</p>
    }
    else
    {
        <table class="table table-light table-striped">
            <thead>
            <tr>
                <th>Номер</th>
                <th>Имя создателя</th>
                <th>Название задачи</th>
                <th>Приоритет</th>
                <th>Статус</th>
                <th>Дата создания</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var task in @Model)
            {
                <tr>
                    <td>@task.Id</td>
                    <td>@task.Creator.UserName</td>
                    <td>@task.Name</td>
                    <td class="@PriorityColor(@task.Priority)">@task.Priority</td>
                    <td>@task.Status</td>
                    <td>@task.DateOfCreation</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>


@functions{
    public string PriorityColor(string priority)
    {
        switch (priority)
        {
            case "Высокий":
                return "text-danger";
            case "Средний":
                return "text-primary";
            case "Низкий":
                return "text-success";
            default:
                return "";
        }
    }
}