@model List<MyTask>

@{
    ViewBag.Title = "Tasks";
    Layout = "_Layout";
}

<h2>@Localizer["ListOfFreeTasks"]</h2>

<div class="row table_section">
    @if (@Model.Count() == 0)
    {
        <p>@Localizer["LackOfTask"]</p>
    }
    else
    {
        <table class="table table-light table-striped">
            <thead>
            <tr>
                <th>@Localizer["Number"]</th>
                <th>@Localizer["NameOfTask"]</th>
                <th>@Localizer["Priority"]</th>
                <th>@Localizer["State"]</th>
                <th>@Localizer["DateOfCreation"]</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var task in @Model)
            {
                <tr>
                    <td>@task.Id</td>
                    <td>@task.Name</td>
                    <td class="@PriorityColor(@task.Priority)">@task.Priority</td>
                    <td>@task.Status</td>
                    <td>@task.DateOfCreation</td>
                </tr>
            }
            </tbody>
        </table>
    }
</div>


@functions{
    public string PriorityColor(string priority)
    {
        switch (priority)
        {
            case "Высокий":
                return "text-danger";
            case "Средний":
                return "text-primary";
            case "Низкий":
                return "text-success";
            default:
                return "";
        }
    }
}